@mixin dark-theme {
    color-scheme: dark;
    --text-color: #FEFEFE;
    --background-color: #151527;
    --menu-hover-background-color: #5E5361;
    --link-color: #F4D03F;
    --header-color: #F2F1EF;
    --header-border-color: #aaaaaa;
}