@mixin dark-theme {
  :where(html) {
    color-scheme: dark;
    --text-color: #F0F0F0;
    --background-color: #151527;
    --menu-hover-background-color: #5E5361;
    --link-color: #FBCA6D;
    --header-color: #F7F1DD;
    --header-border-color: #A69D90;
  }
}