@mixin light-theme {
  :where(html) {
    color-scheme: light;
    --text-color: #010A16;
    --background-color: #F6F6F4;
    --menu-hover-background-color: #C5C4CB;
    --link-color: #C11700;
    --header-color: #48352F;
    --header-border-color: #8B899B;
  }
}